
resources/config.php
.htaccess

resources/maps/*
resources/files/*
resources/inspections/*
resources/reports/*

resources/library/puppeteer/node_modules/
resources/library/puppeteer/package-lock.json