version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: .docker/web/Dockerfile
    labels:
      - "traefik.http.routers.web.rule=Host(`fflaintranet.localhost`)"
    env_file: .docker/database/.env
    ports:
      - 8081:80
    volumes:
      - ./data:/var/www/data:delegated
      - ./html:/var/www/html:delegated
      - ./resources:/var/www/resources:delegated
      
      - ./resources/composer.json:/var/www/resources/composer.json:delegated
      - ./resources/composer.lock:/var/www/resources/composer.lock:delegated
      - ./resources/library/puppeteer/package.json:/var/www/resources/library/puppeteer/package.json:delegated
      - ./resources/library/puppeteer/package-lock.json:/var/www/resources/library/puppeteer/package-lock.json:delegated

      - ./.docker/web/config/php.ini:/usr/local/etc/php/php.ini:delegated
      - ./.docker/web/config/vhost.conf:/etc/apache2/sites-enabled/000-default.conf:delegated
      - ./.docker/web/startup.sh:/startup.sh:delegated

  database:
    build:
      context: .
      dockerfile: .docker/database/Dockerfile
    env_file: .docker/database/.env
    ports:
      - 3306:3306
    volumes:
      - database:/var/lib/mysql
    command: --innodb-buffer-pool-size=1G
  pma:
    image: phpmyadmin/phpmyadmin:latest
    env_file: .docker/database/.env
    labels:
      - "traefik.http.routers.pma.rule=Host(`fflaintranet-pma.localhost`)"
  proxy:
    image: traefik:v2.6
    command: --api.insecure=true --providers.docker
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  database: