$theme-colors: (
  "primary": #9d1006,
  "danger": #f41a2f
);

@import "bootstrap-4.1.3/scss/bootstrap.scss";

.content-container {
	margin-top: $jumbotron-padding;
}

.jumbotron {
  //padding: $jumbotron-padding ($jumbotron-padding / 2);
  //margin-bottom: $jumbotron-padding;
  margin-bottom: 0px;
  background-color: #9d1006;
  text-color: #fff;
  @include border-radius(0px);

  @include media-breakpoint-up(sm) {
    //padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}
.jumbotron h1{
    color: #fff;
}
.jumbotron h5{
    color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 90px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  text-align: center;
}

.select-cornered {
	@extend .form-control;
    outline: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.select-cornered:focus {
	@extend .form-control:focus;
    outline: 0;
	border: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.loader {
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	z-index: 1;
  	width: 100px;
  	height: 100px;
  	margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #9d1006; /* Primary */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#overlay {
    background: rgba(0,0,0,0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
}