/* Print */

@media print{
	@page {
		/* size: auto;   /* auto is the initial value */
		size: A4 portrait;
		margin: 0;  /* this affects the margin in the printer settings */
	}
}

.page{
	padding: 15mm;
}

.page .table {
	margin-bottom: 0mm;
}

.portrait {
	width: 21cm;
	height: 29.7cm; 
}

.landscape {
	width: 29.7cm;
	height: 21cm;
}


/* Hydrant assist styles */

.tab-pane {
    padding:8px;
}

.custom-checkbox-big {
	margin-top: 8px;
	margin-bottom: 8px;
}

.custom-control-label-big {
	padding-top: 0.2rem;
	padding-left: 0.5rem;
}

.custom-control-label-big::before,
.custom-control-label-big::after {
	width: 1.5rem;
	height: 1.5rem;
}

/* Hydrant table styles */

.th-td-small {
	padding: 0.15rem !important;
	font-size: 0.8rem;
}

.th-td-padding {
	padding: 0.5rem !important;
}

.custom-control-label-table::before {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 50%;
}

.custom-control-label-table::after {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 50%;	
}

.element-to-rotate {
	display: inline-block;
  	white-space: nowrap;
  
	transform-origin: left top;
	-webkit-transform-origin: left top;
	
	transform: rotate(-90deg) translate(-100%); /* Fallback */
	-webkit-transform: rotate(-90deg) translate(-100%); /* Safari/Chrome */
	-moz-transform: rotate(-90deg) translate(-100%); /* Firefox */
	-o-transform: rotate(-90deg) translate(-100%); /* Opera */
	-ms-transform: rotate(-90deg) translate(-100%); /* IE 9 */
	
}

/* Collapsable tables */

.collapse-td {
	padding: 0 !important;
}

.collapse-td > .collapse,.collapsing > .collapse-content {
	padding: 0.75rem;
}


/* Other */

.search {
	width: unset !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-search {
	padding: unset;
	color: #343a40 !important
}

.search .btn-secondary {
	background-color: #9d1006;
	border-color: #9d1006
}

.search .btn-secondary:hover {
	background-color: #780c05;
	border-color: #6c0b04
}

