/* Print */

@media print{
	@page {
		/* size: auto;   /* auto is the initial value */
		size: A4 portrait;
		margin: 0;  /* this affects the margin in the printer settings */
	}
}

.page{
	padding: 15mm;
}

.page .table {
	margin-bottom: 0mm;
}

.portrait {
	width: 21cm;
	height: 29.7cm; 
}

.landscape {
	width: 29.7cm;
	height: 21cm;
}


/* Hydrant assist styles */

.tab-pane {
    padding:8px;
}

.custom-checkbox-big {
	margin-top: 8px;
	margin-bottom: 8px;
}

.custom-control-label-big {
	padding-top: 0.2rem;
	padding-left: 0.5rem;
}

.custom-control-label-big::before,
.custom-control-label-big::after {
	width: 1.5rem;
	height: 1.5rem;
}

/* Hydrant table styles */

.th-td-small {
	padding: 0.15rem !important;
	font-size: 0.8rem;
}

.th-td-padding {
	padding: 0.5rem !important;
}

.custom-control-label-table::before {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 50%;
}

.custom-control-label-table::after {
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 50%;	
}

.element-to-rotate {
	display: inline-block;
  	white-space: nowrap;
  
	transform-origin: left top;
	-webkit-transform-origin: left top;
	
	transform: rotate(-90deg) translate(-100%); /* Fallback */
	-webkit-transform: rotate(-90deg) translate(-100%); /* Safari/Chrome */
	-moz-transform: rotate(-90deg) translate(-100%); /* Firefox */
	-o-transform: rotate(-90deg) translate(-100%); /* Opera */
	-ms-transform: rotate(-90deg) translate(-100%); /* IE 9 */
	
}

/* Collapsable tables */

.collapse-td {
	padding: 0 !important;
}

.collapse-td > .collapse,.collapsing > .collapse-content {
	padding: 0.75rem;
}


/* Other */

.search {
	width: unset !important;
}

.search-reset {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -2px;
	position: relative;
	z-index: 10;
}

.table-generic th a {
	color: unset;
}

.table-generic th a:hover {
	color: unset;
	text-decoration: unset;
}

.table-generic .pagination-detail, .pagination   {
	margin-top: 10px;
	margin-bottom: 10px;
}


.table-generic th .both {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7X QMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC");
}

.table-generic th .asc {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==");
}

.table-generic th .desc {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII= ");
}

.logo {
	height: 80px;
	content: url("/images/layout/shortheader_new-1.png");
}

.headline {
  margin-top: 1rem;
  margin-bottom: 1rem; 
}

.headline-title {
	font-size: 2.5rem;	
}


@media screen and (max-width: 500px) {
	.logo {
		min-width: 250px;
		width: 100%;
		height: auto;
		content: url("/images/layout/shortheader_new-long.png");
	}
	
	.headline-title {
		font-size: 1.75rem;	
	}
	
	.headline-subtitle {
		font-size: 1.25rem;
	}
}


.headline-subtitle {
	font-size: 1.20rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0rem;
}
